<ul id="todo-list">
  {{!--
    NOTES:

    1. The loop forces each todo item to be bound to the "todo"
      controller on the fly. The resulting loop has a single "todo" variable
      which now points to the *controller*, not the model. Thus, any model
      properties we want to access must be represented in the controller.

    2. Note the alternate loop syntax. This was addded in Ember 1.10.
  --}}
  {{#each model itemController="todo" as |todo|}}
  {{!--
    "with" puts the entire contained block within a scope of a variable.
    If you do {{#with todo}}, then, within the "with" block, you can
    refer to the todo item's fields without having to prefix them with
    "todo".

    HOWEVER... In Ember 1.10, this form of "with" has been deprecated,
    in favor of {{#with todo as somethingElse}}

    Thus, what's in the blog post won't work, so we don't bother with
    the {{#with}}. I've left it in, so the code can be compared to the
    blog post, but it's commented out, because it causes Ember to
    throw console warnings (and will eventually cease to work entirely).
  --}}
  {{!--
  {{#with todo}}
  --}}
    <li {{bind-attr class="todo.is_completed:completed todo.is_editing:editing"}}>
      {{input type="checkbox" class="toggle" checked=todo.is_completed}}
      {{#if todo.is_editing}}
        {{input class="edit" value=todo.title autofocus="autofocus"
                focus-out="acceptChanges"
                insert-newline="acceptChanges"}}
      {{else}}
      {{! double clicking the label enables editing }}
        <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label>
        <button class="destroy" {{action "removeTodo"}}></button>
      {{/if}}
    </li>
  {{!--
  {{/with}}
  --}}
  {{/each}}
</ul>