<h2 id="title">{{fa-icon "user-secret"}}Welcome to Ember.js</h2>

<ul>
  <li>{{#link-to 'test'}}Go to test{{/link-to}}</li>
  <li>{{#link-to 'people'}}Show people{{/link-to}}</li>
  <li>{{#link-to 'todos'}}To Do's{{/link-to}}</li>
</ul>

{{liquid-outlet}}
