<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    {{#each person in model.people}}
      <tr>
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person.age}}</td>
        <td>{{person.salary}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
