<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{model.person.firstName}} {{model.person.lastName}}</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>{{model.person.id}}</td>
    </tr>
  </tbody>
</table>
