<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    {{input type="text" id="new-todo" placeholder="What needs to be done?"
            value=new_title action="createTodo"}}
  </header>

  <section id="main">
    {{input type="checkbox" id="toggle-all" checked=all_are_completed}}
    {{liquid-outlet}}
  </section>

  <footer id="footer">
    <span id="todo-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
    <ul id="filters">
      <li>
        {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
      </li>
    </ul>

    {{#if has_completed}}
        <button id="clear-completed" {{action "clearCompleted"}}>
          Clear completed ({{completed}})
        </button>
    {{/if}}
  </footer>
</section>

<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>